<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
</head>

<body>
  <div class="container">
    <h1>Manufacturers List</h1>
    <h2>Add Manufacturer to List</h2>
    <form action="manu_add" method="POST">
      <div class="form-group">
        <label for="exampleInputEmail1">Manufacturer Name</label>
        <input type="text" class="form-control" placeholder="Enter Manufacturer Name" name="mname" required>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Address</label>
        <input type="text" class="form-control" placeholder="Enter Address" name="address" required>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Phone Numer</label>
        <input type="text" class="form-control" placeholder="Enter Phone Number" name="phone_no" required>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Category</label>
        <input type="text" class="form-control" placeholder="Enter Category" name="category" required>
      </div>
      <button type="submit" class="btn btn-primary">Add Product to Database</button>
    </form>
    <hr />
    <h2>Manufacturers in List</h2>
    <%if (data.length>0) { %>
    <ul>
      <%for(let manu of data){%>
      <h3>
        <%=manu.mname%>
      </h3>
      <p><strong>Buying price:</strong> <%=product.buying_price%>
        <br> <strong>Selling Price:</strong> <%=product.selling_price%>
        <br><strong>Quantity in Stock:</strong> <%=product.quantity%></p>
        <hr>
      <%}%>
      </ul>
      <%}%>
  </div>
</body>

</html>