<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Wholesale DB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Products <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Manufacturers</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Retailers</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Payments</a>
            </li>

          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
  <div class="container">
    <h1>Product Inventory</h1>
    <h2>Add Product to Inventory</h2>
    <form action="/product_add" method="POST">
      <% if (success.add) { %>
      <div class="alert alert-success" role="alert">
        <%=success.prod %> was successfully added to inventory list! 
        <br>Add another one, view the list below or update or delete an item.
      </div>
      <% } %>
      <div class="form-group">
        <label for="exampleInputEmail1">Product Name</label>
        <input type="text" class="form-control" placeholder="Enter Product" name="pname" required>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Buying Price</label>
        <input type="text" class="form-control" placeholder="Enter Buying Price" name="buying_price" required>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Selling Price</label>
        <input type="text" class="form-control" placeholder="Enter Selling Price" name="selling_price" required>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Quantity</label>
        <input type="text" class="form-control" placeholder="Enter Quantity" name="quantity" required>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Category</label>
        <input type="text" class="form-control" placeholder="Enter Category" name="category" required>
      </div>
      <button type="submit" class="btn btn-primary">Add Product to Database</button>
    </form>
    <hr />
    <h2>Current Products in Inventory</h2>
    <%if (data.length>0) { %>
    <ul>
      <%for(let product of data){%>
      <h3>
        <%=product.pname%>
      </h3>
      <p><strong>Buying price:</strong> <%=product.buying_price%>
        <br> <strong>Selling Price:</strong> <%=product.selling_price%>
        <br><strong>Quantity in Stock:</strong> <%=product.quantity%></p>
      <button type="button" class="btn btn-warning">Update</button>
      <button type="button" class="btn btn-danger">Delete</button>
      <hr>
      <%}%>
      </ul>
      <%}%>
  </div>
</body>

</html>