<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
</head>

<body class="bod">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="..">Wholesale DB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="..">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="../product">Products</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="../manufacturer">Manufacturers</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="../retailer">Retailers</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="../payment">Payments</a>
        </li>

      </ul>



    </div>
  </nav>

  <div class="container">
    <h1>Product Inventory</h1>
    <h2>Add Product to Inventory</h2>
    <form action="/product_add" method="POST">
      <% if (success.add) { %>
      <div class="alert alert-success" role="alert">
        <%=success.prod %> was successfully added to inventory list!
        <br>Add another one, view the list below or update or delete an item.
      </div>
      <% } %>
      <div class="form-group">
        <label for="exampleInputEmail1">Product Name</label>
        <input type="text" class="form-control" placeholder="Enter Product" name="pname" required>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Buying Price</label>
        <input type="number" class="form-control" placeholder="Enter Buying Price" name="buying_price" required>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Selling Price</label>
        <input type="number" class="form-control" placeholder="Enter Selling Price" name="selling_price" required>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Quantity</label>
        <input type="number" class="form-control" placeholder="Enter Quantity" name="quantity" required>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Category</label>
        <input type="text" class="form-control" placeholder="Enter Category" name="category" required>
      </div>
      <button type="submit" class="btn btn-primary">Add Product to Database</button>
    </form>
    <hr />
    <h2>Current Products in Inventory</h2>
    <h4>Search by</h4>
    <div class="row">
      <div class="col-4">
          <form action="/product_search" method="POST">
              <div class="form-group">
                <label for="exampleInputEmail1">Product Name</label>
                <input type="text" class="form-control" placeholder="Enter name" name="product_name" required>
              </div>
              <button type="submit" class="btn btn-success">Find product(s)</button>
            </form>
      </div>
      <div class="col-4">
          <form action="/product" method="POST">
            <div class="form-group">
              <label for="exampleInputEmail1">Category</label>
              <input type="number" class="form-control" placeholder="Enter category" name="category" required>
            </div>
            <button type="submit" class="btn btn-success">Find category</button>
          </form>
      </div>
      <div class="col-4">
          <form action="/product" method="GET">
              <div class="form-group">
                <label for="exampleInputEmail1">Quantity needed</label>
                <input type="number" class="form-control"  placeholder="Enter quantity" name="quantity" required>
              </div>
              <button type="submit" class="btn btn-success">Products more than quantity</button>
            </form>
        
      </div>
      </div>
      <hr>
      <div class="row">
          <div class="col-4">
              <form action="/product?profit=true" method="GET">
                <p>Profitability</p>
                <p>Should be sold for more than it was purchased</p>
                <button type="submit" class="btn btn-success">Unprofitable Products</button>
              </form>
          </div>
    </div>
    


    <hr>

   
    <%if (data.length>0) { %>
    <%for(let product of data){%>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%=product.pname%></h5>
        <p class="card-text"><strong>Buying price:</strong> <%=product.buying_price%>
          <br> <strong>Selling Price:</strong> <%=product.selling_price%>
          <br><strong>Quantity in Stock:</strong> <%=product.quantity%></p>
        </p>
        <form action="/product_update" method="post">
          <button type="submit" name="id" value="<%=product.id%>" class="btn btn-primary">Update</button>
        </form>
        <br>
      <form action="/product_delete" method="post">
        <button type="submit" name="id" value="<%=product.id%>" class="btn btn-danger">Delete</button>  
        </form>
      </div>
    </div>

    <%}%>
    
      <%} else {%>
        <p>No products found</p>
        <%}%>
  </div>
</body>

</html>