<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
</head>

<body>
  <div class="container">
    <h1>Product Inventory</h1>
    <h2>Add Product to Inventory</h2>
    <form action="/product_add" method="POST">
  	    <div class="form-group">
        <label for="exampleInputEmail1">Product ID</label>
        <input type="text" class="form-control" placeholder="Enter Product ID" name="pid" required>
      </div>


      <div class="form-group">
        <label for="exampleInputEmail1">Product Name</label>
        <input type="text" class="form-control" placeholder="Enter Product" name="pname" required>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Buying Price</label>
        <input type="text" class="form-control" placeholder="Enter Buying Price" name="buying_price" required>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Selling Price</label>
        <input type="text" class="form-control" placeholder="Enter Selling Price" name="selling_price" required>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Quantity</label>
        <input type="text" class="form-control" placeholder="Enter Quantity" name="quantity" required>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Category</label>
        <input type="text" class="form-control" placeholder="Enter Category" name="category" required>
      </div>
      <button type="submit" class="btn btn-primary">Add Product to Database</button>
    </form>
    <hr />
    <h2>Current Products in Inventory</h2>
    <%if (data.length>0) { %>
    <ul>
      <%for(let product of data){%>
      <h3>
        <%=product.pname%>
      </h3>
      <p><strong>Buying price:</strong> <%=product.buying_price%>
        <br> <strong>Selling Price:</strong> <%=product.selling_price%>
        <br><strong>Quantity in Stock:</strong> <%=product.quantity%></p>
        <hr>
      <%}%>
      </ul>
      <%}%>
  </div>
</body>

</html>